<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LOCALCOOKING_V3T">
        <activity
            android:name=".booking"
            android:exported="false" />
        <!-- Bill là màn hình khởi chạy -->
        <activity
            android:name=".Bill"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".Classes"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordOtp"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".OtpVerification"
            android:exported="false" /> <!-- Header không còn là launcher nữa -->
        <activity
            android:name=".Header"
            android:exported="false" />
        <activity
            android:name=".Review"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Vouchers"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Splash"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>